<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <mat-dialog-content>


    <mat-form-field fxFill>

      <input matInput placeholder="id" formControlName="id">
    </mat-form-field>
    <mat-form-field fxFill>

      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field fxFill>

      <input matInput placeholder="Sreet " formControlName="street_house">
    </mat-form-field>

    <mat-form-field fxFill>

      <input matInput placeholder="Region " formControlName="region">
    </mat-form-field>

    <mat-form-field fxFill>

      <input matInput placeholder="City " formControlName="city">
    </mat-form-field>

    <mat-form-field fxFill>

      <input matInput placeholder="Postal Code " formControlName="postal_code">
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Country" formControlName="country" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="countrySelected($event)">
        <mat-option *ngFor="let country of filtered_list_of_countries | async" [value]="country">
          {{country.name_rus}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <mat-form-field fxFill>

      <input matInput placeholder="INN " formControlName="inn">
    </mat-form-field>

    <mat-form-field fxFill>

      <input matInput placeholder="OKPO " formControlName="okpo">
    </mat-form-field>

    <mat-form-field fxFill>

      <input matInput placeholder="Phone " formControlName="phone">
    </mat-form-field>


  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-button color="accent" type="submit"> Submit</button>
    <button mat-button (click)="onCancel()"> Cancel</button>





  </mat-dialog-actions>
</form>