<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title [style.align-items]="'center'">
     Facturas
    </mat-panel-title>
    <mat-panel-description>
     
    </mat-panel-description>
  </mat-expansion-panel-header>
 
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
 <button mat-icon-button (click)="createNewFactura()">
     <mat-icon class="mat-18">add</mat-icon>
 </button>
 <span rtmeH1>Shipment's facturas:</span>
</div>

<mat-accordion *ngIf="facturas" displayMode="default" >
    <mat-expansion-panel *ngFor="let f of facturas" [hideToggle]="false" (opened)="isop = true" (closed)="isop = false">
        <mat-expansion-panel-header>Factura </mat-expansion-panel-header>
         <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="40px">
             
            <factura-form [factura]="f" [shipment]="shipment" [order]="order" fxFlex></factura-form>
             
         </div>

    </mat-expansion-panel>
</mat-accordion>
