<button mat-raised-button (click)="newplace()" color="primary" >Create new Place</button>
<div class="mat-elevation-z8">
 
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="place_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.place_name}}</mat-cell>
    </ng-container>
        <!-- Code Column -->
        <ng-container matColumnDef="place_code">
            <mat-header-cell *matHeaderCellDef >Code</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.place_code}}</mat-cell>
          </ng-container>
        <!-- road_name_abbr Column -->
        <ng-container matColumnDef="road_name_abbr">
          <mat-header-cell *matHeaderCellDef >Letters</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.road_name_abbr}}</mat-cell>
        </ng-container>
                <!-- road_operator_name Column -->
                <ng-container matColumnDef="road_operator_name">
                  <mat-header-cell *matHeaderCellDef >Operator</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.road_operator_name}}</mat-cell>
                </ng-container>
        <!-- road_name_abbr Column -->
        <ng-container matColumnDef="road_code">
          <mat-header-cell *matHeaderCellDef >Road code</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.road_code}}</mat-cell>
        </ng-container>

        
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClickHandler(row)" 
    (mouseover)= "row.is_hover=true" (mouseleave)= "row.is_hover=false"   [style.border-bottom]="row.is_hover ? 'solid 1px red' :''"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>