<mat-dialog-content class="dialog">

<mat-form-field>
<input matInput placeholder="Title" [(ngModel)]="order.short_description">
</mat-form-field>

<mat-form-field >
    
    <input matInput [matDatepicker]="dp" placeholder="ETA" [value]='date' (dateChange)="setEta($event)" >
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="month"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field>
<input  matInput [matAutocomplete]="ac"  placeholder="Station of Dispatch"  [formControl]="stOfDispCtrl" >
<mat-autocomplete #ac="matAutocomplete" (optionSelected)="diChange($event)" >
  <mat-option  *ngFor="let pl of filteredPlaces | async" [value]="pl">
    <p>{{pl.place_name}} / {{pl.place_code}}</p>
  </mat-option>
</mat-autocomplete>

  </mat-form-field>

  <mat-form-field>
      <input  matInput [matAutocomplete]="ac"  placeholder="Station of Destination"  [formControl]="stOfDestCtrl" >
      <mat-autocomplete #ac="matAutocomplete" (optionSelected)="destChange($event)" >
        <mat-option  *ngFor="let pl of filteredPlaces | async" [value]="pl">
          <p>{{pl.place_name}} / {{pl.place_code}}</p>
        </mat-option>
      </mat-autocomplete>
      
        </mat-form-field>

        <place-autocomplete placeholder="Station of Test" (selected_place)='plChange($event)'></place-autocomplete>

</mat-dialog-content>
  <mat-dialog-actions>
      <!-- <button mat-button mat-dialog-close>Close</button> -->
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]="order">Save</button>
    </mat-dialog-actions>
