
  <mat-form-field fxFlex>
    <input  matInput [matAutocomplete]="ac"  [placeholder]="placeholder"  [formControl]="placeFormControl" >
    <mat-icon matSuffix (click)="clear()" class='pointer'>close</mat-icon>
   
    <mat-autocomplete #ac="matAutocomplete" (optionSelected)="placeChange($event)" >
      <mat-option  *ngFor="let pl of places | async" [value]="pl">
        <p>{{pl.place_name}} / {{pl.place_code}}</p>
        
      </mat-option>
    </mat-autocomplete>
    
      </mat-form-field> 


