
 <button mat-icon-button color="primary" (click)="openAddPlaceDialog()">
  <mat-icon matSuffix >add</mat-icon>
</button>

  <mat-form-field>
    <input  matInput [matAutocomplete]="ac"  [placeholder]="placeholder"  [formControl]="placeFormControl" >
    <mat-icon matSuffix (click)="clear()">close</mat-icon>
   
    <mat-autocomplete #ac="matAutocomplete" (optionSelected)="placeChange($event)" >
      <mat-option  *ngFor="let pl of places | async" [value]="pl">
        <p>{{pl.place_name}} / {{pl.place_code}}</p>
        
      </mat-option>
    </mat-autocomplete>
    
      </mat-form-field> 


