<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">


  <div fxFlex="920px">
    <mat-card>

      <mat-card-content>

  <mat-form-field>
    <input matInput placeholder="29 Отправка №" [(ngModel)]="rwb.number">
  </mat-form-field>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
  <rwb-consignor [consignor]="order.consignor"></rwb-consignor>
  <rwb-consignee [consignee]="order.consignee"></rwb-consignee>
</div>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" [style.margin-top]="'10px'">
  <rwb-dispatch [station]="order.dispatch_place"></rwb-dispatch>
  <rwb-destination [station]="order.destination_place"></rwb-destination>
</div>

{{rwb.road_sections | json}}

<rwb-road-sections [rwb]="rwb"></rwb-road-sections>

       
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-button (click)="saveRwb()">Save</button>
        <button mat-button (click)="deleteShipment()">Delete</button>

      </mat-card-actions>

    </mat-card>



  </div>

  <div fxFlex>
    <app-comments [order]="order"></app-comments>
  </div>

</div>
