/* mat-form-field{
    margin-bottom: -10px;
} */

.cargo_item{
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    margin-bottom: 4px;
    border-radius: 2px;
}

.cargo_item:hover{
    border:1px dotted red;
}