<div fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="2px">
  <span rtmeH1>Cargo</span>
  <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <button mat-icon-button (click)="createItem()" [disabled]="addDisabled" color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="onClick" color="primary">
      <mat-icon>search</mat-icon>
    </button>
  </div> -->


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let c" class="number"> {{cargo.indexOf(c)+1}} </td>
      <td mat-footer-cell *matFooterCellDef> 
          <button mat-icon-button (click)="createItem()" [disabled]="addDisabled" color="primary">
              <mat-icon>add</mat-icon>
            </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="tnved" >
      <th mat-header-cell *matHeaderCellDef [style.width]="'350px'">ТНВЭД</th>
      <td mat-cell *matCellDef="let c" class="description" >
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1px" >
          <span>{{c.tnved_code}}</span>
          <span>{{c.description}}</span>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef [style.vertical-align]="'middle'"> 
 <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
    <button mat-raised-button (click)="saveCargo()" [style.float]="'left'">Save</button>
    <span>TOTAL:</span>
 </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="units">
      <th mat-header-cell *matHeaderCellDef>Units</th>
      <td mat-cell *matCellDef="let c">
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1px">
          <span>{{c.unit_quantity}}</span>
          <span>{{c.unit?.name_short}}</span>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    <ng-container matColumnDef="packages">
      <th mat-header-cell *matHeaderCellDef>Pack</th>
      <td mat-cell *matCellDef="let c">
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1px">
          <span>{{c.package_quantity}}</span>
          <span>{{c.package?.print_name}}</span>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalPackages()}} </td>
    </ng-container>
    <ng-container matColumnDef="nett">
      <th mat-header-cell *matHeaderCellDef>Nett, kgs</th>
      <td mat-cell *matCellDef="let c">
        {{c.nett_weight}}
      </td>
      
      <td mat-footer-cell *matFooterCellDef> {{getTotalNett()}} </td>
    </ng-container>
    <ng-container matColumnDef="gross">
      <th mat-header-cell *matHeaderCellDef>Gross, kgs</th>
      <td mat-cell *matCellDef="let c">
        {{c.gross_weight}}
      </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalGross()}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let c">
        {{c.unit_price}}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let c">
        {{c.total }}
      </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | number : '1.1-3'}} </td>
    </ng-container>


    
    <tr mat-header-row *matHeaderRowDef="columns" class="t_header"></tr>
    <tr mat-row *matRowDef="let row; columns: columns" (click)=editItem(row) class="t_row"></tr>
    <tr mat-footer-row *matFooterRowDef="columns" class="footer"></tr>
  </table>


</div>