/* mat-form-field{
    margin-bottom: -10px;
} */

.cargo_item{
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    margin-bottom: 4px;
    border-radius: 2px;
}

.cargo_item:hover{
    border:1px dotted red;
}

.t_header{
height: 30px;
}

.t_row{
    font-size: 10px;
    line-height: 12px;
    white-space: pre-wrap;
}

.t_row:hover{
    cursor: pointer;
    background: greenyellow;
}

th{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
td{
    text-align: center;
    font-size: 10px;
    line-height: 11px;
}
.footer{
    font-size: 12px; 
    font-weight: 600;
}

.number{
    width: 20px;
}

.description div {
    padding-top:4px;
    padding-bottom: 4px;
    text-align: left;
}
.description div > *{
    width: 300px;
    overflow-wrap: break-word;
}