<mat-expansion-panel  (opened)="infoGet()" (closed)="infoSave()">
 
  <mat-expansion-panel-header>
    <mat-panel-title [style.align-items]="'center'">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
        <span>Shipment </span>
        <span>{{info?.name | uppercase}} </span>
        <span *ngIf="isContainer">{{info?.container.name}}</span>
        <span>{{info?.description | uppercase}} </span>
      </div>

    </mat-panel-title>

  </mat-expansion-panel-header>
  <div *ngIf="shipment">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <mat-form-field fxFlex="80px">
      <input matInput placeholder="ID" [(ngModel)]="info.name">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput placeholder="Description" [(ngModel)]="info.description">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
    <place-raw *ngIf="dispatch" fxFlex="50%" title="Dispatch" [place]="dispatch"></place-raw>
    <place-raw *ngIf="destination" fxFlex="50%" title="Destination" [place]="destination"></place-raw>
  </div>
  <mat-divider [style.margin-top]="'10px'"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="40px">
    <person-raw *ngIf="order" fxFlex="50%" [person]="order.consignee" title="Consignee" class="raw"></person-raw>
    <person-raw *ngIf="order" fxFlex="50%" [person]="order.consignor" title="Consignor" class="raw"></person-raw>
  </div>
  <mat-divider [style.margin-top]="'10px'"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px" [style.margin-top]="'10px'">
    <mat-checkbox (change)="isContainerChange($event)" [checked]="!info.isGeneral">is container?</mat-checkbox>
    <mat-form-field *ngIf="isContainer" fxFlex="150px">
      <input matInput placeholder="Container" [(ngModel)]="info.container.name">
    </mat-form-field>
    <mat-form-field *ngIf="isContainer" fxFlex="80px">
      <input matInput placeholder="Type" [(ngModel)]="info.container.containers_type">
    </mat-form-field>
    <mat-form-field *ngIf="isContainer" fxFlex="80px">
      <input matInput placeholder="Payload" [(ngModel)]="info.container.payload">
    </mat-form-field>
    <mat-form-field *ngIf="isContainer" fxFlex="100px">
      <input matInput placeholder="Tare" [(ngModel)]="info.container.tare">
    </mat-form-field>
  </div>

</div>
</mat-expansion-panel>
