.content{
    position: relative;
    display: block;
    top: 0px;
    padding: 70px 6px;
    /* left: 320px; */
    /* min-height: 100vh; */
    /* width: 80vw; */
    background: #5b5b5b;
    z-index: 0;
    overflow: -webkit-paged-x;
}
