
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <mat-form-field>
<input matInput placeholder="Номер" [(ngModel)]="shipment.rw_bill.number"   > 
  </mat-form-field>
  <place-raw title="Ст. отправления"   [place]="dispatch" fxFlex></place-raw>
</div>
<person-raw title="Отправитель" [person]="shipment.consignor"></person-raw>
<person-raw title="Получатель" [person]="shipment.consignee"></person-raw>

<p>{{cargo | json}}</p>
<p>{{shipment | json}}</p>
<p>{{shipment.rw_bill | json}}</p>
<p>{{shipment.consignor | json}}</p>
<p>{{shipment.consignee | json}}</p>
