<mat-card>
  <mat-card-header>
    <mat-card-title>{{order.short_description}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="2px">
      <table (dblclick)="goToOrder()">
        <tr>
          <td>ETA:</td>
          <td>{{order.will_arrive}}</td>
        </tr>
        <tr>
          <td>From:</td>
          <td>{{order.dispatch_place?.place_name}}</td>
        </tr>
        <tr>
          <td>To:</td>
          <td>{{order.destination_place?.place_name}}</td>
        </tr>
        <tr>
          <td>Consignor:</td>
          <td>{{order.consignor.name}}</td>
        </tr>
        <tr>
          <td>Consignee:</td>
          <td>{{order.consignee.name}}</td>
        </tr>
        <tr>
          <td>Note:</td>
          <td>{{order.description}}</td>
        </tr>
        <tr>
          <td>Shipments:</td>
          <td>
            <mat-nav-list>
              <mat-list-item *ngFor="let item of shipments" (click)="goToShipment(item.id)">
                <span matLine>{{ item.name }} {{item.description}}</span>
              </mat-list-item>
            </mat-nav-list>
          </td>
        </tr>
      </table>
    </div>
    <!-- {{order|j?son}} -->
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="4px">
      <button mat-button>Save</button>
      <button mat-button>Create</button>
    </div>

  </mat-card-actions>
</mat-card>