<!-- <mat-card class="r_card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2px">
  <span class="title">{{order.short_description}}</span>
  <span class="eta">{{order.will_arrive}}</span>
  <span class="dispatch">{{order.dispatch_place.place_name}}</span>
  <span class="destination">{{order.destination_place.place_name}}</span>

</mat-card> -->

<mat-card [ngStyle]="{'margin-bottom': '4px'}">
  <mat-card-header>
    <div class="card-icon" fxFlex fxLayoutAlign="end center">

      <button mat-icon-button (click)="expand_card()">
        <mat-icon>{{(opened ? 'expand_less':'expand_more')}}</mat-icon>
      </button>
    </div>
    <mat-card-title>{{order.short_description}}</mat-card-title>
    <mat-card-subtitle>{{order.will_arrive}} -- {{order.dispatch_place.place_name}} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [ngStyle]="{'display': (opened?'block':'none')}">
    {{order|json}}

  </mat-card-content>
  <mat-card-actions [ngStyle]="{'display': (opened?'block':'none')}">
    <button mat-button (click)="activate()">Ok</button>
  </mat-card-actions>
</mat-card>