<!-- <mat-card class="r_card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2px">
  <span class="title">{{order.short_description}}</span>
  <span class="eta">{{order.will_arrive}}</span>
  <span class="dispatch">{{order.dispatch_place.place_name}}</span>
  <span class="destination">{{order.destination_place.place_name}}</span>

</mat-card> -->

<mat-card [ngStyle]="{'margin-bottom': '4px'}">
  <mat-card-header>
    <mat-card-title>{{order.short_description}}</mat-card-title>
    <mat-card-subtitle>{{order.will_arrive}} -- {{order.dispatch_place?.place_name}} </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="4px">
      <button mat-button (click)="onSave()">Save</button>
      <button mat-button (click)="onSave()">Create</button>
    </div>

  </mat-card-actions>
</mat-card>