<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
  <button mat-icon-button (click)="addShipmentHandler()">
      <mat-icon class="mat-18">add</mat-icon>
  </button>
  <span rtmeH1>Order's shipments:</span>
  </div>

<mat-list >
    <mat-list-item *ngFor="let item of shipments" >
    
        <mat-icon matListIcon (click)="editShipmentHandler(item.id)" >link</mat-icon>
        <h3 matLine rtmeH1> {{item.name}} </h3>
        <p matLine>{{item.description}}</p>
      </mat-list-item>

</mat-list>