.p_placeholder{
    display: block;
    border-bottom: 1px solid;
    font-weight:600;
    font-size: 10px;
}

.p_wrapper{
    padding:8px;
}
.p_wrapper > span {
    font-size:12px;
    line-height: 14px;
}

.p_name{
    font-size:12px;
    line-height: 18px;  
    font-weight: 600;
}