<mat-expansion-panel [hideToggle]="false" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title> Invoices</mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <button mat-icon-button (click)="addInvoice()">
    <mat-icon class="mat-18">add</mat-icon>
  </button>
  <span rtmeH1>Shipment's Invoices:</span>
 
</div>

<div fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="50px">

  </div>
  <mat-accordion *ngIf="invoices" displayMode="default"  [hideToggle]="false" fxFlex>

    <mat-expansion-panel *ngFor="let i of invoices" [hideToggle]="false"  [expanded] ="closed===false"  (opened)="close = true" (closed)="close = false">

      <mat-expansion-panel-header>Invoice {{i.number}} {{closed}}</mat-expansion-panel-header>
     
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
        <mat-form-field fxFlex="200px">
          <input matInput placeholder="Number" [(ngModel)]="i.number">
        </mat-form-field>
        <mat-form-field fxFlex="60px">
          <input matInput placeholder="Currency" [(ngModel)]="i.currency">
        </mat-form-field>
        <mat-form-field fxFlex="60px">
          <input matInput placeholder="Units" [(ngModel)]="i.units_qty">
        </mat-form-field>
        <mat-form-field fxFlex="80px">
          <input matInput placeholder="Packages" [(ngModel)]="i.packages_qty">
        </mat-form-field>
        <mat-form-field fxFlex="80px">
          <input matInput placeholder="Nett, Kgs" [(ngModel)]="i.nett_kgs">
        </mat-form-field>
        <mat-form-field fxFlex="80px">
          <input matInput placeholder="Gross, Kgs" [(ngModel)]="i.gross_kgs">
        </mat-form-field>

      </div>


        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
          <person-raw *ngIf="i.buyer" title="Buyer" [person]="i.buyer"  fxFlex="50%"></person-raw>
          <person-raw *ngIf="i.seller" title="Seller" [person]="i.seller"  fxFlex="50%"></person-raw>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
       
          <person-combo title="Buyer" [person]="i.buyer" (new_person)="iBuyerHandler($event,i)" fxFlex="50%"></person-combo>
          <person-search title="Seller" [person]="i.seller" (new_person)="iSellerHandler($event,i)" fxFlex="50%"></person-search>
        </div>

      <mat-action-row>
          <button mat-button (click)="saveInvoice(i)">Save</button>
        <mat-checkbox>delete?</mat-checkbox>
        <button mat-button (click)="deleteInvoice($event,i)">Delete</button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</div>

</mat-expansion-panel>