<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <button mat-icon-button (click)="addInvoice()">
    <mat-icon class="mat-18">add</mat-icon>
  </button>
  <span rtmeH1>Shipment's Invoices:</span>

</div>

<div fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="50px">

  </div>
  <mat-accordion *ngIf="invoices" displayMode="default" [hideToggle]="false" fxFlex>

    <mat-expansion-panel *ngFor="let i of invoices" [hideToggle]="false" [expanded]="closed===false" (opened)="saveInvoices()"
      (closed)="saveInvoices()">

      <mat-expansion-panel-header>Invoice {{i.number}} </mat-expansion-panel-header>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
        <mat-form-field fxFlex="200px">
          <input matInput placeholder="Number" [(ngModel)]="i.number">
        </mat-form-field>
        <mat-form-field fxFlex="60px">
          <input matInput placeholder="Currency" [(ngModel)]="i.currency">
        </mat-form-field>
        <mat-form-field fxFlex="60px">
          <input matInput placeholder="Units" [(ngModel)]="i.units_qty">
        </mat-form-field>
        <mat-form-field fxFlex="80px">
          <input matInput placeholder="Packages" [(ngModel)]="i.packages_qty">
        </mat-form-field>
        <mat-form-field fxFlex="80px">
          <input matInput placeholder="Nett, Kgs" [(ngModel)]="i.nett_kgs">
        </mat-form-field>
        <mat-form-field fxFlex="80px">
          <input matInput placeholder="Gross, Kgs" [(ngModel)]="i.gross_kgs">
        </mat-form-field>
        <mat-form-field fxFlex="60px">
          <input matInput placeholder="Cost, {{i.currency}}" [(ngModel)]="i.total">
        </mat-form-field>
        <mat-form-field fxFlex="60px">
          <input matInput placeholder="Extra, {{i.currency}}" [(ngModel)]="i.extra_cost">
        </mat-form-field>
        <mat-form-field fxFlex="60px">
          <input matInput placeholder="Total, {{i.currency}}" [(ngModel)]="i.grand_total">
        </mat-form-field>

      </div>


      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
        <person-combo title="Seller" [person]="i.seller" (change)="iSellerHandler($event,i)" fxFlex="50%"></person-combo>
        <person-combo title="Buyer" [person]="i.buyer" (change)="iBuyerHandler($event,i)" fxFlex="50%"></person-combo>

      </div>
      <mat-action-row>
        <button mat-button (click)="saveInvoices($event)">Save</button>
        <button mat-button (click)="deleteInvoice($event, i)">Delete</button>
        
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</div>