
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title [style.align-items]="'center'">
       Title
      </mat-panel-title>
      <mat-panel-description>
        <h4>{{shipment.name | uppercase}} {{shipment.description | uppercase}} </h4>
      </mat-panel-description>
    </mat-expansion-panel-header>
   
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <input matInput placeholder="Description" [(ngModel)]="shipment.description">
    </mat-form-field>
  </div>
  </mat-expansion-panel>

 <person-exp-panel-raw [person]="order.consignor" title="Consignor"></person-exp-panel-raw>
 <person-exp-panel-raw [person]="order.consignee" title="Consignee"></person-exp-panel-raw>
 <person-exp-panel-form [person]="shipment.seller" title="Seller" (new_person)="sellerHandler($event)"></person-exp-panel-form>
 <person-exp-panel-form [person]="shipment.buyer" title="Buyer" (new_person)="buyerHandler($event)"></person-exp-panel-form>

 <cargo-ex-panel (cargoChange)="cargoChangeHandler($event)"></cargo-ex-panel>
 <shipment-facturas [shipment]='cargo'></shipment-facturas>
</mat-accordion>

