<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">


  <div fxFlex="920px">


    
      <shipment-info></shipment-info>
      <mat-accordion>
      <!-- extension panel for invoices -->
      <shipment-invoices></shipment-invoices>


      <!-- <cargo-ex-panel (cargoChange)="cargoChangeHandler($event)"></cargo-ex-panel> -->
      <shipment-facturas [facturas]="shipment.facturas" [order]="order"></shipment-facturas>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Railbill </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <railbill [shipment]="shipment" [dispatch]="order.dispatch_place" [destination]="order.destination_place"></railbill> -->
      </mat-expansion-panel>
    </mat-accordion>

    <button mat-button (click)="saveShipment()">Save</button>

  </div>

  <div fxFlex>
    <app-comments [order]="order"></app-comments>
  </div>

</div>