.code{
    font-size: 12px;
    
}
.name{
    font-size: 12px;
    font-weight: 600;
}
.line{
    font-size: 12px;
    line-height: 14px;  
}

.wrp{
    position: relative;

}

/* button{

    position: absolute;
    top:0;
    right: 0;
} */