/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

body {
    margin: 0;
    background-color: #273746;
    font-family: Roboto, Helvetica, sans-serif;
    color: white;
}

h4 {
    font-weight: 400;
    border-bottom: 1px solid;
    padding-bottom: 0.6em;
    text-transform: uppercase;
}

@media print {
my-nav {display:none;}

/* body app-root div.content{display:none !important;} */

.content{
    padding: 0 !important;
    margin-left: 0 !important;
}

.f_container {
    position: absolute !important;
    margin: 0 !important;
    background: white !important;
    padding: 3mm !important;
    font-family: Arial, Helvetica, sans-serif;
}

app-root *:none(#factura){display:none !important;};


}
