<mat-toolbar appFixedToolbar>
  <span>Order</span>
  <div fxFlex="60%" fxFlexFill>
  </div>
  <button mat-button [matMenuTriggerFor]="orders_select">ORDERS</button>
  <button mat-button [matMenuTriggerFor]="shipments_select">SHIPMENTS</button>
</mat-toolbar>



<mat-menu #orders_select="matMenu">
  <button mat-menu-item (click)="show()">All</button>
  <button mat-menu-item>Like</button>

</mat-menu>

<mat-menu #shipments_select="matMenu">
  <button mat-menu-item (click)="showShipments()">All</button>
  <button mat-menu-item>Like</button>

</mat-menu>

<app-search-row (result)="onShowList($event)" appFixedBlock top='70'></app-search-row>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
  <div fxFlex="900px">
    <div class="list_portal">
      <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
    </div>
  </div>
  <div fxFlex>
    <div class="card_portal">
      <ng-template [cdkPortalOutlet]="sidePortal"></ng-template>
    </div>
  </div>
</div>




<!-- <div class="main" id="content" fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="2px">
  <order-single [$obs_order]="$active"></order-single>

</div> -->