<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">

    <div fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">

        <mat-card>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="1px">
                    <mat-form-field>
                        <input matInput placeholder="Title" [formControl]="title_fc">
                    </mat-form-field>

                    <rtme-datepicker placeholder='ETA' [date]="model.will_arrive" (new_date)="etaChangeHandler($event)"></rtme-datepicker>

                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="6px">

                        <person-search fxFlex="50%" title="Consignor" [person]="model.consignor" (new_person)=consignorHandler($event)></person-search>

                        <place-autocomplete fxFlex="50%" placeholder="Place of Dispatch" [value]="model.dispatch_place"
                            (selected_place)=placeOfDispatchHandler($event)></place-autocomplete>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="6px">
                        <person-search fxFlex="50%" title="Consignee" [person]="model.consignee" (new_person)=consigneeHandler($event)></person-search>

                        <place-autocomplete fxFlex="50%" placeholder="Place of Destination" [value]="model.destination_place"
                            (selected_place)=placeOfDestinationHandler($event)></place-autocomplete>

                    </div>
                    <inbound-docs [indocs]="model.inbound_docs" (new_indocs)=indocsHandler($event)></inbound-docs>

                    <mat-divider [inset]="true"></mat-divider>

                    <!-- <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="6px" fxFlexFill [style.min-height]="'200px'">
                        <div fxFlex="60%">
                            <app-inbound-cargo [in_cargo]="model.inbound_cargo" (cargo_items)="inboundCargoHandler($event)"></app-inbound-cargo>
                        </div>


                        <div fxFlex="40%">
                            <mat-card [style.margin-top]="'1em'">

                                <mat-card-content>
                                    <p>Total Gross : <span>{{gross_total}} kgs </span></p>
                                    <p>Units quantity : <span>{{cargo_units_qty}} </span></p>
                                    <p *ngIf="containers_qty > 0">Containers quantity : <span>{{containers_qty}} </span></p>
                                </mat-card-content>

                            </mat-card>
                        </div>
                    </div> -->

                    <!-- <mat-divider [inset]="true"></mat-divider> -->
                    <!-- <input type="file" multiple  name="" id="f" [style.display]="'none'"  (change)= "onFileChange($event)">

                      <button mat-button (click)="openFileBrowser($event)">Action</button> -->

                    <order-details-shipments></order-details-shipments>

                </div>



            </mat-card-content>

            <mat-card-actions>
                <button (click)="saveOrder()" fxFlex mat-raised-button color="primary">SAVE</button>

            </mat-card-actions>
        </mat-card>



    </div>

    <div fxLayout="column" fxLayoutAlign="stretch" fxFlex class="right_pane">
        <app-comments [order]="model"></app-comments>
    </div>


</div>