<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    
    <div fxLayout="column" fxLayoutAlign="start" fxFlex="50%">

        <mat-card class="nopad">

            <mat-toolbar>My App</mat-toolbar>
            <mat-card-content>
                <mat-grid-list cols="4" rowHeight="70px" [style.height]="'600px'" [gutterSize]="'1px'">
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                        <mat-form-field class="cont_align">
                            <input matInput placeholder="Title" [(ngModel)]="model.short_description">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <place-autocomplete> </place-autocomplete>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <place-autocomplete> </place-autocomplete>
                    </mat-grid-tile>


                </mat-grid-list>

            </mat-card-content>


        </mat-card>



    </div>

    <div fxLayout="column" fxLayoutAlign="stretch" fxFlex class="right_pane">
        <mat-card>
            <in-info [model]="model"></in-info>
            <app-inbound-cargo [in_cargo]="inbound_cargo" (cargo_items)="inboundCargoChange($event)"></app-inbound-cargo>
        </mat-card>
    </div>


</div>