<h3 mat-dialog-title *ngIf="show_copy">Copy!</h3>
<mat-dialog-content>

<div fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="2px">

<mat-form-field>
  <input type="text" placeholder="ТНВЭД" matInput [(ngModel)]="data.tnved_code">
</mat-form-field>

<mat-form-field>
  <input type="search" placeholder="Search Description" 
                       [matAutocomplete]="auto"  
                       matInput 
                       [formControl]="descriptionSearch_fc">
                       
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="cargoSearchChange($event)">
    <mat-option *ngFor="let c of filtered_cargo | async" 
                [value]="c" 
                [style.min-height]="'3em'">
      
      <span>{{c.description}}</span> 
      
    </mat-option>
  </mat-autocomplete>
</mat-form-field>


<mat-form-field [style.fontSize]="'12px'">
  <mat-label>Autosize textarea</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            [(ngModel)]="data.description"></textarea>
</mat-form-field>
<mat-divider mat-inset></mat-divider>
<br/>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2px">

<units-autocomplete [value]="data.unit" (valueChange) = "unitNameHandler($event)"></units-autocomplete>

  <mat-form-field fxFlex="50%">
    <input type="number" placeholder="Quantity" matInput [(ngModel)]="data.unit_quantity">
  </mat-form-field> 

</div>
<br/>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2px">

    <package-autocomplete [value]="data.package" (valueChange) = "packageNameHandler($event)"></package-autocomplete>

  <mat-form-field fxFlex="50%">
    <input type="number" placeholder="Quantity" matInput [(ngModel)]="data.package_quantity">
  </mat-form-field> 

</div>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2px">

  <mat-form-field fxFlex="50%">
    <input type="text" placeholder="Nett, Kgs" matInput [(ngModel)]="data.nett_weight">
  </mat-form-field> 
  <mat-form-field fxFlex="50%">
    <input type="text" placeholder="Gross, Kgs" matInput [(ngModel)]="data.gross_weight">
  </mat-form-field> 

</div>
<mat-form-field fxFlex>
  <input type="text" placeholder="Unit Price" matInput [(ngModel)]="data.unit_price">
</mat-form-field> 
<mat-form-field fxFlex>
  <input type="text" placeholder="Total Amount" matInput [(ngModel)]="data.total">
</mat-form-field> 

<mat-divider mat-inset></mat-divider>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2px">

  <mat-form-field fxFlex="70%">
    <input type="text" placeholder="ГНГ" matInput [(ngModel)]="data.gng_code">
  </mat-form-field> 
  <mat-form-field fxFlex="30%">
    <input type="text" placeholder="ЕТСНГ" matInput [(ngModel)]="data.etsng_code">
  </mat-form-field> 

</div>

</div>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-icon-button>
      <mat-icon (click)="saveCargoItem()">save</mat-icon>
    </button>
  <button mat-icon-button>
      <mat-icon (click)="copyCargoItem()">file_copy</mat-icon>
    </button>
  <button mat-icon-button>
      <mat-icon (click)="deleteCargoItem()">clear</mat-icon>
    </button>
  

</mat-dialog-actions>
